<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='{{'stylesheets/bootstrap.min.css'|asset_url}}' />
    <link rel='stylesheet' href='{{'stylesheets/flat-ui.css'|asset_url}}' />
    <link rel='stylesheet' href='{{'stylesheets/style.css'|asset_url}}' />
    <style>
      .grouplist{float:left;margin-right:10px;}
      .panel_group{display:none;}
      .fui-cross{cursor:pointer;}
      .switch{margin-top:5px;}
      h4{vertical-align:bottom;}
      table tbody tr td {vertical-align:middle!important;}
      #con-wrapper{min-height:600px;}
      .footer{text-align:center;}
     </style>
  </head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand nav-font" href="/">Fd-server</a>
        </div>
    <div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav" id="switch-tab">
        {% if nav && nav.length > 0 %}
          {% for item in nav %}
            <li><a href="{{item.url|escape}}"> {{item.title|escape}} </a></li> 
          {% endfor %}
        {% endif %}
      </ul> 
    </div>
      </div>
    </div>
